* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(/assets/images/login_register_background.webp);
    background-size: cover;
}

.container_form{
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(41, 50, 65, 0.2);
    max-width: 900px;
    height: 500px;
    transition: all 1s ease;
    margin: 20px;
}

.information{
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color:#E0FBFC;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.info_childs{
    width: 100%;
    padding: 0 30px;
}

.info_childs h2{
    font-size: 2.7rem;
    color: #333;
}

.info_childs p{
    margin: 15px 0;
    color: #555;
}

.info_childs input{
    background-color:transparent;
    outline: none;
    border: solid 2px #98c1d9;
    border-radius: 20px;
    padding: 10px 20px;
    color: #98c1d9;
    cursor: pointer;
    transition: background-color .3s ease;
}

.info_childs input:hover{
    background-color: #98c1d9;
    border: none;
    color: #EE6C4D;
    box-shadow: 0 2px 5px rgba(41, 50, 65, 0.2);
}

.form_information{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #F3F9FF;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.form_information_childs{
    padding: 0 30px;
}

.form_information_childs h2{
    color: #333;
    font-size: 2.7rem;
}

.form_information_childs p {
    color: #555;
}

.icons{
    margin: 15px 0;
}

.icons i {
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #98c1d9;
    transition: background-color .3s ease;
    box-shadow: 0 3px 5px rgba(41, 50, 65, 0.2);
}

.icons i:hover{
    background-color: #98c1d9;
    border: none;
    color: #EE6C4D;
    box-shadow: 0 2px 5px rgba(41, 50, 65, 0.2);
}

.form{
    margin: 20px 0 0 0;
}

.form label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 10px;
    background-color: #f3f9ff;
    box-shadow: 0 2px 5px rgba(41, 50, 65, 0.2);
}

.form label input{
    width: 100%;
    padding: 8px;
    background-color: #f3f9ff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}

.form label i{
    color: #a7a7a7;
}

.form input[type="submit"]{
    background-color: #98c1d9;
    color: #f3f9ff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(41, 50, 65, 0.2);
}

.form input[type="submit"]:hover{
    background-color: #EE6C4D;
    transition: ease;
}

.hide{
    position: absolute;
    transform: translateY(-400%);
}

/* RESPONSIVE FORM*/

@media screen and (max-width:750px){
    html {
        font-size: 12px;
    }
}

@media screen and (max-width:580px){
    html {
        font-size: 10px;
    }

    .container_form{
        flex-direction: column;
        height: auto;
    }

    .information{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }

    .form_information{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}